* {
  z-index: 2;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #100224;
  position: relative;
}

.header {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#datepicker {
  height: 20px;
  background: #92b0d4;
  border: none;
  outline: 2px solid black;
  padding: 3px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #92b0d4;
  background-color: #0000006b;
}

img, video, iframe {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

p {
  position: relative;
  font-family: "Black Ops One", sans-serif;
  width: 80%;
  margin: 0 auto;
  color: #acb9da;
  background-color: #0000006b;
  padding: 5px;
}